@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

#links-div {
    background-color:black;
    line-height: 36px;
    margin: auto;
    width: 600px;
}

a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: azure;
    padding-left: 10px;
    padding-right: 10px;
}

code {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

#intro_and_visualization-page-intro{
    text-align: center;
    margin: auto;
    width: 700px;
}

#algorithm-buttons {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#algorithm-buttons:hover {
  background-color: rgb(249,250,251);
}

#algorithm-buttons:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#algorithm-buttons:focus-visible {
  box-shadow: none;
}


#algorithm-buttons-div{
    margin: auto;
    width: 27%;
    border: 5px solid lightyellow;
    padding: 10px;
}

#README-and-summary-text-position{
    position: relative;
    top: 20px;
    left: 30%;
    width: 400px;
}

#input-button{
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#input-button:focus {
  color: #171e29;
}

#input-button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

#input-button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  #input-button {
    min-width: 170px;
  }
}
