<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APCA Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="/static/JavaScript/echarts.min.js"></script>
</head>
<body>

    <button id="go-back-button" onclick="window.location.href='/visualization';">Go back to visualization page</button>
    <div id="main"></div>
    <script type="text/javascript">
        let myChart = echarts.init(document.getElementById('main'));
        let option = {{ line_options | safe }};

        // display the chart based on the options passed from the function.
        myChart.setOption(option);
    </script>

    <br>
    {% if boolean_message %}
        <br>
        <p style="margin: auto; color: beige">
            This is the demo visualization. You can input your own data to see the transformation.
        </p>
        <br>
    {% endif %}

    <div class="form-center">
        <form method="post">
            <div class="form-group">
            <label for="segments">Input the segments: </label>
            <input
              type="number"
              class="form-control"
              id="segments"
              name="segments"
              placeholder="Segments size (like: 5)"
            />

            <label for="data">Input your data: </label>
            <input
              type="text"
              class="form-control"
              id="data"
              name="data"
              size=50
              placeholder="1.43123, etc. (Split up by comma)"
            />
            </div>
            <br>
            <button id="visualization-submit-button" onclick="window.location.href='/visualization/APCA';">Submit your own data</button>
        </form>
    </div>
    <br>
    <button id="display-demo-button" onclick="window.location.href='/visualization/APCA';"> Display the previous demo</button>
    <br>
    <table style="width:100%">
        <tr>
            <th>The original data</th>
            <th>{{ original_data }}</th>
        </tr>
        <tr>
            <th>The reduced data</th>
            <th>{{ reduced_data }}</th>
        </tr>
        <tr>
            <th>Segments</th>
            <th>{{ segments }}</th>
        </tr>
    </table>
</body>
</html>