<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Series Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div id="links-div">
        <a href="/">Introduction Page</a>
        <a href="/readme">README Page</a>
        <a href="/summary">Algorithm Summary</a>
        <a href="/visualization">Algorithm Visualization</a>
    </div>
    <h1>
        Introduction to the project
    </h1>
    <p>
        This project aims to visualize some dimensionality reduction algorithms used in time-series data analysis.
    </p>
</body>
</html>
