{% extends 'base.html' %} {% block title %} Introduction Page {% endblock %}

{% block content %}
<h2>
    Times Series Project
</h2>
<p id="page-intro">
    This project aims to visualize some dimensionality reduction algorithms used in time-series data analysis. <br>
    Time-series data usually has high dimensionality and we wanted to reduce the dimensionality so that we can extract the key features of the data. <br>
    Dimensionality reduction also reduces the storage space required for data because it helps in data compression and plays a significant role data preprocessing phase.
</p>
{% endblock %}
