<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OneD SAX Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="/static/JavaScript/echarts.min.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert">
                        <span class="close_btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>Error</strong>: {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <button id="go-back-button" onclick="window.location.href='/visualization';">Go back to visualization page</button>
    <div id="main"></div>
    <script type="text/javascript">
        let myChart = echarts.init(document.getElementById('main'));
        let option = {{ line_options | safe }};

        // display the chart based on the options passed from the function.
        myChart.setOption(option);
    </script>

    <br>
    {% if boolean_message %}
        <br>
        <p style="text-align: center; color: chocolate; font-size: 18px">
            This is the demo visualization and below is the corresponding data. You can input your own data to see the transformation.
        </p>
        <br>
    {% else %}
        <br>
        <p style="text-align: center; color: chocolate; font-size: 18px">
            This is the visualization for your input data.
        </p>
        <br>
    {% endif %}
    <div class="form-center">
        <form method="post">
            <label for="segments">Input the segments: </label>
            <input
              type="number"
              class="form-control"
              id="segments"
              name="segments"
              placeholder="Segment size (like: 5)"
            />
            <br>
            <label for="size_avg">Input the alphabet_size_avg: </label>
            <input
              type="number"
              class="form-control"
              id="size_avg"
              name="size_avg"
              placeholder="Symbols average (like 8)"
            />
            <br>
            <label for="size_slope">Input the alphabet_size_slope: </label>
            <input
              type="number"
              class="form-control"
              id="size_slope"
              name="size_slope"
              placeholder="Symbols slope (like 8)"
            />
            <br>
            <label for="data">Input your data: </label>
            <textarea
                type="text"
                class="form-control"
                id="data"
                name="data"
                placeholder="1.43123, etc. (Split up by comma)" rows="5" cols="60"></textarea>
            <br>
            <br>
            <button id="visualization-submit-button" onclick="window.location.href='/visualization/SAX';">Submit your own data</button>
        </form>
    </div>
    <br>

    <button id="display-demo-button" onclick="window.location.href='/visualization/SAX';"> Display the previous demo</button>
    <br>
    <table style="width:100%">
        <tr>
            <th>The original data</th>
            <th>{{ original_data }}</th>
        </tr>
        <tr>
            <th>The reduced data</th>
            <th>{{ reduced_data }}</th>
        </tr>
        <tr>
            <th>Segments</th>
            <th>{{ segments }}</th>
        </tr>
        <tr>
            <th>Alphabet size average</th>
            <th>{{ n_sax_symbols_avg }}</th>
        </tr>
        <tr>
            <th>Alphabet size slope</th>
            <th>{{ n_sax_symbols_slope }}</th>
        </tr>
    </table>
</body>
</html>