{% extends 'base.html' %} {% block title %} README Page {% endblock %}

{% block content %}
    <br>

    <h2>
        README Page for the Project
    </h2>

    <br>

    <div id="README-and-summary-text-position">

        <h4>
            Required Libraries/Modules
        </h4>
        <p>
            To run this project, several dependencies should be installed. They are all list in the <code>requirements.txt</code> file.<br>
            <br>
            Under the project directory, simply run: <br>
            <code>
                pip3 install -r requirements.txt
            </code>
        </p>
        <h4>
            Running the Project
        </h4>
        <p>
            To run the whole project, simply run the following command under the project directory. <br>
            <code>python3 server.py</code> <br>
            <br>
            Then visit <code>http://127.0.0.1:5000/</code> in your browser. The app should be up & running.
        </p>

        <br>

        <h4>
            Code Structure:
        </h4>
        <p>
            The code structure is: <br>
        </p>

        <br>

        <h4>
            Credits & Links
        </h4>
        <p>
            <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask Framework</a> <br>
            <a href="https://getbootstrap.com/">Bootstrap</a> <br>
            <a href="https://gallery.pyecharts.org/#/README">pyecharts Documentation</a>
        </p>
    </div>
{% endblock %}