{% extends 'base.html' %} {% block title %} README Page {% endblock %}

{% block content %}
    <h2>
        README Page for the Project
    </h2>

    <div id="README-and-summary-text-position">

        <h4>
            Required Libraries/Modules
        </h4>
        <p>
            To run this project, several dependencies should be installed.<br>
            <code>
                pip3 install flask<br>
                pip3 install pandas<br>
                pip3 install numpy<br>
                pip3 install pyecharts<br>
            </code>
        </p>
        <h4>
            Running the Project
        </h4>
        <p>
            To run the whole project, simply run the following command under the project directory. <br>
            <code>
                python3 server.py
            </code>
        </p>
    </div>
{% endblock %}