{% extends 'base.html' %} {% block title %} Algorithm Summary {% endblock %}

{% block content %}
    <br>
    <h2>
        Summary Page for Different Algorithms
    </h2>

    <br>
    
    <div id="README-and-summary-text-position">

        <h4>
            PAA - Piecewise Aggregate Approximation
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>


        <h4>
            OneD_SAX - OneD_Symbolic Aggregate Approximation
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>


        <h4>
            DFT - Discrete Fourier Transformation
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>


        <h4>
            DWT - Discrete Wavelet Transformation
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>

        <h4>
            SVD - Singular Value Decomposition
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> SVD is typically used on sparse data.
            </li>
            <li>
                SVD is commonly used indirectly to explore the main eigenvalues of a transition matrix,
                estimated from observed trajectories of a certain length.
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> SVD of multi-variate time-series is of course very common.
                The point I think the author is making is that SVD cannot meaningfully be directly
                applied to a uni-variate time-series.
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>


        <h4>
            APCA - Adaptive Piecewise Constant Approximation
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>


        <h4>
            PLA - Piecewise Linear Approximation
        </h4>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Analysis:
        </p>
        <ul>
            <li> Time complexity:
            </li>
            <li> Memory requirement:
            </li>
        </ul>
    </div>
{% endblock %}
