<!DOCTYPE html>
<html lang="en" class="summary-page">
<head>
    <meta charset="UTF-8">
    <title>Algorithm Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div id="links-div">
        <a href="/">Introduction Page</a>
        <a href="/readme">README Page</a>
        <a href="/summary">Algorithm Summary</a>
        <a href="/visualization" >Algorithm Visualization</a>
    </div>

    <h1>
        Summary Page for Different Algorithms
    </h1>

    <div id="README-and-summary-text-position">

        <h3>
            PAA - Piecewise Aggregate Approximation
        </h3>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>


        <h3>
            DFT - Discrete Fourier Transformation
        </h3>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>


        <h3>
            DWT - Discrete Wavelet Transformation
        </h3>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>

        <h3>
            SVD - Singular Value Decomposition
        </h3>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>


        <h3>
            APCA - Adaptive Piecewise Constant Approximation
        </h3>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>


        <h3>
            PLA - Piecewise Linear Approximation
        </h3>
        <p>
            Features:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
        <p>
            Disadvantages:
        </p>
        <ul>
            <li> TBA
            </li>
        </ul>
    </div>

</body>
</html>
