{% extends 'base.html' %} {% block title %} Algorithm Visualization {% endblock %}

{% block content %}
    <br>
    <h2>
        Visualization Overview Page for Different Algorithms
    </h2>
    <br>
    <p id="page-intro">
        Below are the link buttons and previews for seven different algorithms' visualization.<br>
        You can click any one of the buttons to see the visualization and also experience it with your own input data.
    </p>
    <br>
    <div id="algorithm-buttons-div">
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/APCA';">APCA</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/PAA';">PAA</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/PLA';">PLA</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/DFT';">DFT</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/DWT';">DWT</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/SVD';">SVD</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/ONE_D_SAX';">OneD_SAX</button>
    </div>

    <div class="container_for_visualization_page">
        <div class="box_for_visualization_page">
        <img src="../static/images/APCA.png" alt="APCA Graph" onclick="window.location.href='/visualization/APCA';">
        <span>APCA</span>
        </div>
        <div class="box_for_visualization_page">
        <img src="../static/images/PAA.png" alt="PAA Graph" onclick="window.location.href='/visualization/PAA';">
        <span>PAA</span>
        </div>
        <div class="box_for_visualization_page">
        <img src="../static/images/PLA.png" alt="PLA Graph" onclick="window.location.href='/visualization/PLA';">
        <span>PLA</span>
        </div>
        <div class="box_for_visualization_page">
        <img src="../static/images/DFT.png" alt="DFT Graph" onclick="window.location.href='/visualization/DFT';">
        <span>DFT</span>
        </div>
        <div class="box_for_visualization_page">
        <img src="../static/images/DWT.png" alt="DWT Graph" onclick="window.location.href='/visualization/DWT';">
        <span>DWT</span>
        </div>
        <div class="box_for_visualization_page">
        <img src="../static/images/SVD.png" alt="SVD Graph" onclick="window.location.href='/visualization/SVD';">
        <span>SVD</span>
        </div>
        <div class="box_for_visualization_page">
        <img src="../static/images/OneD_SAX.png" alt="OneD_SAX Graph" onclick="window.location.href='/visualization/ONE_D_SAX';">
        <span>1DSAX</span>
        </div>
    </div>
{% endblock %}
