{% extends 'base.html' %} {% block title %} Algorithm Visualization {% endblock %}

{% block content %}
    <br>
    <h2>
        Visualization Overview Page for Different Algorithms
    </h2>
    <br>
    <p id="page-intro">
        Below are the links for six different algorithms' visualization.<br>
        You can click any one of the buttons to see the visualization and also experience it with your own input data.
    </p>
    <br>
    <div id="algorithm-buttons-div">
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/APCA';">APCA</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/PAA';">PAA</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/PLA';">PLA</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/DFT';">DFT</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/DWT';">DWT</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/SVD';">SVD</button>
        <button id="algorithm-buttons" onclick="window.location.href='/visualization/ONE_D_SAX';">OneD_SAX</button>
    </div>
{% endblock %}
